<header>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	{{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</header>

<div class="header-container">
	<div id="particles-js"></div>
	  <h1>Blue</span> <br> Quark<br> Systems</h1>
	  <h4>Empowering Creativy Through Innovation</h4>
	  <a class="button" href="mailto:bluequarksystems@gmail.com">Work with Us</a>
  </div>

  <div class="sidebar">
	  <!-- <nav>
		<ul>
		  <li><a href="#">Home</a></li>
		  <li><a href="#">About</a></li>
		  <li><a href="#">Contact</a></li>
		</ul>
	  </nav> -->
	</div>

  <!-- <div class="section">
	<h2>About</h2>
	<p></p>
  </div>

  <div class="section">
	  <h2>Technology</h2>
  </div>

  <div class="section">
	  <h2>Contact</h2>
  </div> -->